
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.container div {
    position: absolute;
    border-radius: 3rem;
    animation: gradient 4s infinite;
}

@keyframes gradient {
    50%{
        transform: scale(1.3) translate(100px);
    }
}
   
.container div:nth-child(1){
    height: 100%;
    width: 100%;
    background-color: #ff057c;
}

.container div:nth-child(2){
    height: 80%;
    width: 70%;
    background-color: #900977;
    top: -12%;
    right: -12%;
    animation-delay: 2s;
}

.container div:nth-child(3){
    height: 50%;
    width: 75%;
    background-color: #1215dd;
    bottom: -10%;
    left: -5%;
    animation-delay: 1s;
    
}
.container div:nth-child(2){
    height: 65%;
    width: 80%;
    background-color: #13d6da;
    bottom: -15%;
    right: -20%;
    animation-delay: 3s;
}
.container div:nth-child(5){
    height: 70%;
    width: 65%;
    background-color: #da7313;
    bottom: 0;
    right: -50%;
    animation-delay: 1s;
    }

    .container::after{
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        backdrop-filter: blur(200px);
    }







body{
    background-color: rgb(255, 255, 255);
  font-family:'Times New Roman', Times, serif

}

.Titulo{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

.nombre{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.links{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    text-align: center;
    padding: 100px 100px 0 0;
}
.informacion{
  text-align: center;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  
  
}
.imagenes{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
   
}